.header {
  font-size: 20px;
  color: seagreen;
  height: 50px;
  width: 100%;
  background-color:  #FF99F8;
}

.container {
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profilepicture {
  background-color: seagreen;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}