#header {
  font-size: 20px;
  color: seagreen;
  height: 60px;
  width: 100%;
  background-color:  pink;
  padding: 0px 60px;
}

.container {
  display: flex;
  align-items: center;
}

.container.spacebetween {
  justify-content: space-between;
}

.container.center {
  justify-content: center;
}

.container.column {
  flex-direction: column;
}

.profilepicture {
  background-color: seagreen;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#main {
  margin-top: 75px;
}

#column {
  flex: 0 1 670px;
}